body {
        font-family: Roboto;        
        margin: 0px;
    }

.first {
    background-color: #1f2937;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F9FAF8;
    gap: 100px;

}

.nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    
}

.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
   
}

ul {
    list-style-type: none;
    display: flex;
    gap:15px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: #E5E7EB;

}

.hero {
    display: flex;
    justify-content: space-between;    
    max-width: 1200px;
    font-size: 48px;
    font-weight: 900;
    gap: 40px;
    width: 100%;
    padding-bottom: 150px;
}

.leftHero {
    max-width: 500px;

}
p {
    font-size: 18px;
    color: #1F2937;    
}

.hero p {    
    color: #E5E7EB;
}

#heroButton {
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 24px 8px 24px;
    border: none;
    border-radius: 5px;
}

.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;       
    width: 100%;
    padding: 50px 16px 100px 16px;
}

.infoTitle {
    font-size: 36px;    
    font-weight: 900;        
}

.sectionContainer {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.sections {
    max-width: 200px;    
}

.works img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 3px;
}
