body {
        display: flex;
        flex-direction: column;
        font-family: Roboto;        
        margin: 0px;
        height: 100vh;
    }


.first {
    background-color: #1f2937;
    padding: 16px;
    display: flex;
    flex-direction: column;    
    color: #F9FAF8;
    gap: 100px;    
}

.nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 100px;    
}

.headerLogo{
    font-size: 24px;
    color: #F9FAF8;
   
}

ul {
    list-style-type: none;
    display: flex;
    gap: 15px;
    margin: 0px;
    padding: 0px;
    font-size: 18px;
    color: #E5E7EB;

}

.hero {
    display: flex;
    justify-content: space-between;        
    font-size: 48px;
    font-weight: 900;
    gap: 40px;    
    padding: 0px 100px 150px 100px;
    
}

.leftHero {
    max-width: 500px;

}

p {
    font-size: 18px;
    color: #1F2937;    
}

.hero p {     
    font-size: 18px;
    font-weight: 300;
    color: #E5E7EB;
}

#heroButton {
    background: #3882F6;
    color: #F9FAF8;
    font-weight: bold;
    padding: 8px 24px 8px 24px;
    border: none;
    border-radius: 5px;
}

.works{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;           
    padding: 50px 100px 100px 100px;
}

.infoTitle {
    font-size: 36px;    
    font-weight: 900;        
}

.sectionContainer {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
    justify-content: center;
}

.sections {
    max-width: 200px;    
}

.works img {
    width: 200px;
    height: 150px;
    border-radius: 10px;
    border-style: solid;
    border-color: #3882F6;
    border-width: 3px;
}

.quote {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: Italic;
    font-weight: 10;
    color: #1F2937;
    padding: 100px 16px 100px 16px;
    display: flex;
    justify-content: center;    
    gap: 10px;
    
}

.quoteContainer {
    max-width: 770px;
    display: flex;
    flex-direction: column;    
    align-items: center;
}

.author {
    font-size: 24px;
    font-weight: bold;
    align-self: flex-end;
    padding-right: 40px; 
    font-style: normal;   
}

.cta {
    padding: 100px 16px;
    display: flex;
    justify-content: center;        
}

.cardCta {
    padding: 50px 100px;
    background-color: #3882F6;
    border-radius: 10px;
    max-width: 900px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    color: #F9FAF8;
}

.cardTitle {
    font-weight: bold;
    font-size: 24px;
}
.cardText {
    font-weight: lighter;
    
}

#ctaCardButton {
    background: none;
    border-color: #E5E7EB;
    border-style: solid;
    border-width: 2px;
    padding: 0px 35px;
    border-radius: 8px;
    color:#E5E7EB;
    font-weight: bold;
    font-size: 18px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #1F2937;
    color: #E5E7EB;
}